.post-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.post-description{
    font-style: italic;
    margin-top: -6px;
}

.post-nav>* {
    margin-right: 10px;
}

.post-option {
    margin-left: 6px;
    margin-right: 6px;
}

.post-option:hover {
    cursor: pointer;
    color: black;
}

.post-nav-right{
    display: flex;
    flex-direction: column;
}

.post-nav-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right{
    justify-content: end;
}

.post-nav-votes{
    font-weight: bold;
}